body{
     background-color: rgb(21, 125, 160);    
}
form{
    background-color: white;
    margin: auto;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
}
input[type="text"], input[type="email"], input[type="number"], input[type="subject"], input[type="message"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    background-color: #757272;
    border-radius: 5px;
}
input::placeholder {
    color: #000000;
}
input,select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    background-color: #757272;
    border-radius: 5px;
}
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin-left: 100px;
    margin-right: 50px;
    text-align: center;
    background-color: rgb(21, 125, 160);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
